<div class="masthead bg-primary text-white text-center mb-5">
    <header style="margin-top: 40px;">
      <div class="container d-flex align-items-center flex-column pt-5 pb-4">
        <h1 class="masthead-heading text-uppercase mb-0">Iraís Aguirre Valente</h1>   
        <hr data-content="PUNTO MEDIO">             
        <p class="masthead-subheading font-weight-light mb-0" style="font-size: 14px;">
          <b style="font-size: 20px;">Unit Testing - Pruebas de software</b><br>Estudiante de Ingeniería de software<br>S19004913
        </p>
      </div>
    </header>
    <section class="container text-justify pb-4">
      <p style="font-size: 16px; text-align: justify;">En el presente proyecto de software se pretende realizar la implementación de <b>pruebas unitarias en ambientes de trabajo reales</b>, utilizanco como medio el framework <b>Angular</b> y el framework <b>Jasmine</b>, cuya integración ya viene configurada en Angular CLI y es un marco de desarrollo basado en el comportamiento para probar código JavaScript.</p>
      <p style="font-size: 16px; text-align: justify;">Para este proyecto se buscará implementar un código que <b>calcúle el punto medio de dos puntos cualesquiera en el plano cartesiano</b> de dos dimensiones, utilizando una fórmula de geometría analítica, donde esta área de las matemáticas nos explica que un <b>punto medio</b> es un punto que se encuentra a la mitad de un segmento de línea, es equidistante de ambos extremos y es el centroide tanto del segmento como de los extremos, un punto medio biseca un segmento de línea recta.</p>
    </section>
  </div>
  
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Calculadora punto medio</h2>
    </div>
  </section>